@import './normalize';
@import './fonts';
@import './variables';
@import './mixins';

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Poppins-Regular', Arial, Helvetica, sans-serif;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
#root {
  min-height: 100vh;
  display: flex;
  width: 100%;
}
